.button {
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 1.4em;
    background-color: #e0e1e6;
    color: black;
    outline: 1px solid #888;
}

.operator {
    background-color: #fe9241;
    color: #fff
}